* {

}
.todoListMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: 165px;
}
.todoListMain .header button {
  padding: 10px;
  font-size: 16px;
  background-color: aqua;
  color: black;
  border: 2px solid aqua;
  border-radius: 0;
}
button {
  margin: 10px;
  margin-right: 0px;
}
.todoListMain .header button:hover {
  background-color: black;
  border: 2px solid fuchsia;
  color: fuchsia;
  cursor: pointer;
}
.todoListMain .theList {
  /*text-align: center;*/
  list-style: none;
  width: 270px;
}
.todoListMain .theList li {
  color: aqua;
  background-color: black;
  border: 2px solid aqua;
  padding: 15px;
  margin-bottom: 5px;
}
ul {
  margin: 0;
}
.theList {
  padding: 0;
}
.header {
  margin-bottom: 50px;
}
.theList, .header {
  margin-left: 100px;
}
li {
  margin-bottom: 10px;
}
.todoListMain .theList li:hover {
  background-color: fuchsia;
  border-color: fuchsia;
  color: black;
  cursor: pointer;
}
button:focus, input:focus {
  outline:0;
}
h1 {
  color: aqua;
  font-size: 55px;
  text-shadow: 5px 5px fuchsia;
}
